.about {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1.5em;
}

.info-box {
    padding: .5em;
    margin: 2em;
    border: .12em solid lavender;
    border-radius: .5em;
    width: 20vw;
}

.alt {
    background-color: lavender;
}

.info-box h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5vw;
}

.info-list {
    font-family: 'Inter', sans-serif;
    text-align: left;
}