.about {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;

    /* padding: 5em; */
}

.about .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: minmax(50%, auto);
    gap: 1em;
    width: 75vw;
}

.about__container {
    font-size: 1em;
    padding: 1em 1em;

    text-align: left;
    position: relative;
}

.about__container p {
    text-align: left;
}

.img__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prof-pic {
    width: 300px;
    height: 300px;

}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .about {
        height: 120vh;
    }

    .about .container {
        display: block;
        gap: 1.2em;
    }

    .img__container {
        width: 70%;
        margin: auto;
        justify-content: center;
    }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES) */
  @media screen and (max-width: 600px) {
    .about {
        height: fit-content;
        padding: 2em;
    }

    .about .container {
        display: block;
        gap: 1.2em;
    }

    .img__container {
        width: 70%;
        margin: auto;
        justify-content: center;
    }

    .prof-pic {
        width: 200px;
        height: 200px;
    }

    h2 {
        font-size: var(--font-sm);
    }

    .about__container p {
        text-align: center;
        font-size: var(--font-sm);
    }

  }